<!DOCTYPE html>
<html lang="{{ t.html_lang }}">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tommaso Scotti</title>
  <meta content="{{ t.meta_description }}" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <!-- necessary script to execute jQuery code -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>


  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v2.4.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-tops">
    <div class="container">
      <h1><a href="{{ url_for('index') }}">{{ t.site_name | safe }}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
       <!--<a href="index.html" class="mr-auto"><img src="../static/img/logo.png" alt="" class="img-fluid"></a>-->
      <h2>{{ t.header_motto | safe }}</h2>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#header">{{ t.nav_home }}</a></li>
          <li><a href="#about">{{ t.nav_about }}</a></li>
          {# comment out cv for now
          <li><a href="#resume">{{ t.nav_cv }}</a></li>
          #}
          <li><a href="#writing">{{ t.nav_writing }}</a></li>
           {# comment out photography for now
          <li><a href="#portfolio">{{ t.nav_photography }}</a></li>
          #}
          <li><a href="#cultural">{{ t.nav_cultural }}</a></li>
          <li><a href="#contact">{{ t.nav_contact }}</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="social-links">
        <a href="https://twitter.com/hokuthom" target="_blank" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="https://www.facebook.com/hokuthom" target="_blank" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/hokuthom/" target="_blank" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="https://www.linkedin.com/in/tommasoscotti/" target="_blank" class="linkedin"><i class="icofont-linkedin"></i></a>

        <!-- Language switchers (kept the existing EN flag behavior, added JP + IT) -->
        <a href="/it" title="Italiano" style="background-image:url('../static/img/ita.png');background-size: contain;background-repeat: no-repeat; background-position: center center;"></a>
        <a href="/en" title="English" style="background-image:url('../static/img/en.png');background-size: contain;background-repeat: no-repeat; background-position: center center;"></a>
        <a href="/jp" title="日本語" style="background-image:url('../static/img/jp.png');background-size: contain;background-repeat: no-repeat; background-position: center center;"></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>{{ t.about_info_title }}</h2>
        <p>{{ t.about_info_subtitle }}</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="../static/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ t.about_headline }}</h3>
          <p class="font-italic">
            {{ t.about_tagline }}
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>{{ t.label_birthdate }}</strong> {{ t.value_birthdate }}</li>
                <li><i class="icofont-rounded-right"></i> <strong>{{ t.label_website }}</strong> www.tommasoscotti.com</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>{{ t.label_age }}</strong> {{ age }} </li>
                <li><i class="icofont-rounded-right"></i> <strong>{{ t.label_education }}</strong> {{ t.value_education }}</li>
              </ul>
            </div>
          </div>

          {{ t.short_story_label }}
          </br> </br>
          <p style="text-align: justify;">
            {{ t.short_story_paragraph|safe }}
          </p>

          <p id="collapsedText" class="collapse text-faded" style="text-align: justify;" aria-expanded="false" onclick="changeText()">
            {{ t.long_story_paragraph|safe }}
          </p>

          <p><a id="readMore" aria-expanded="false" style="color:#FFFFFF; cursor:pointer;" onclick="changeText()">{{ t.read_more }}</a></p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="icofont-world"></i>
            <span class="counter-up plus" data-toggle="counter-up">{{ count_years_in_japan_value }}</span>
            <p>{{ t.count_years_in_japan_label }}</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="icofont-pen-alt-4"></i>
            <span class="counter-up plus" data-toggle="counter-up">{{ count_cultural_years_value }}</span>
            <p>{{ t.count_cultural_years_label }}</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-book"></i>
            <span data-toggle="counter-up">{{ t.count_novels_value }}</span>
            <p>{{ t.count_novels_label }}</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-graduate-alt"></i>
            <span data-toggle="counter-up">{{ t.count_papers_value }}</span>
            <p>{{ t.count_papers_label }}</p>
          </div>
        </div>

      </div>

    </div><!-- End Counts -->

    {# comment out all next sections for now #}

    {#

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Python <i class="val">85%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">HMTL/CSS <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">SQL <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill"> Scrittura creativa <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Carbonara <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->

    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Interessi</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-folder-music-line" style="color: #ffbb2c;"></i>
            <h3>Pianoforte </h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-quill-pen-line" style="color: #5578ff;"></i>
            <h3>Calligrafia</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-ball-pen-line" style="color: #e80368;"></i>
            <h3>Scrivere</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-boxing-fill" style="color: #e361ff;"></i>
            <h3>Palestra</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-camera-3-line" style="color: #47aeff;"></i>
            <h3>Fotografia</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-riding-line" style="color: #ffa76e;"></i>
            <h3>Motocicletta</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-book-line" style="color: #11dbcf;"></i>
            <h3>Leggere</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-earth-line" style="color: #4233ff;"></i>
            <h3>Viaggiare</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-film-line" style="color: #b2904f;"></i>
            <h3>Film</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-bear-smile-line" style="color: #b20969;"></i>
            <h3>Orsi</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-translate-2" style="color: #ff5828;"></i>
            <h3>Lingue straniere</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-terminal-box-line" style="color: #29cc61;"></i>
            <h3>Computer</h3>
          </div>
        </div>
      </div>

    </div><!-- End Interests -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Testimonials</h2>
      </div>

      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Questo ragazzo vorrebbe essere come me. Beh, è impossibile ovviamente, ma lo sforzo è ammirevole.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonials/bruced.jpg" class="testimonial-img" alt="bruce_d">
          <h3>Bruce D</h3>
          <h4>Cantante, Pilota, Spadaccino, Birraio, Scrittore</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            È fantastico che qualsiasi cosa faccia c'è sempre tanta buona musica di contorno.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonials/bruces.jpg" class="testimonial-img" alt="bruce_s">
          <h3>Bruce S</h3>
          <h4>Boss</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
           Dovrebbe fare più pratica, ma in fondo non tutti hanno 40 ore al giorno. Continua così.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonials/gg.jpeg" class="testimonial-img" alt="gg">
          <h3>Glenn G</h3>
          <h4>Pianista</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Tommy ha una visione. Purtroppo però, non sarà mai come me. Ma nessuno può esserlo in fondo.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonials/arnold.jpg" class="testimonial-img" alt="arnold">
          <h3>Arnold S</h3>
          <h4>Star</h4>
        </div>

      </div>

    </div><!-- End Testimonials  -->

  #}

  </section><!-- End About Section -->

  {# comment out cv for now #}
  {#

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Curriculum</h2>
        <p>La mia storia professionale</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Profilo</h3>
          <div class="resume-item pb-0">
            <h4>Tommaso Scotti</h4>
            <p><em>
              Dottorato in matematica con {{ year - 2015 }} anni di esperienza come programmatore e analista nell'ambito finanziario e pubblicitario.
              Pubblico anche romanzi con <a href="https://www.longanesi.it/" target="_blank">Longanesi</a>. Parlo italiano,
              inglese e giapponese. E un po' di cinese.
            </em></p>

          </div>

          <h3 class="resume-title">Educazione</h3>
          <div class="resume-item">
            <h4>Dottorato in Matematica Applicata</h4>
            <h5>2012-2015</h5>
            <p><em>Meiji University, Tokyo Giappone</em></p>
            <ul class="fa-ul" style="display: inline-block; text-align:left;">
              <li style="font-size:15px; line-height:175%;"><i class="fa fa-li fa-graduation-cap sr-icons" aria-hidden="true"></i> Approfondito lo studio di metodi numerici e analitici per equazioni differenziali. In particolare mi sono concentrato sulle <a href="https://it.wikipedia.org/wiki/Reazione-diffusione" target="_blank">equazioni di reazione-diffusione</a> e sul pattern formation.</li>
              <li style="font-size:15px; line-height:175%;"><i class="fa fa-li fa-graduation-cap sr-icons" aria-hidden="true"></i> Invitato a parlare a numerose conferenze in Giappone e all'estero <a href="#" data-toggle="modal" data-target="#conferenceModal"> (lista)</a>.
              <li style="font-size:15px; line-height:175%;"><i class="fa fa-li fa-graduation-cap sr-icons" aria-hidden="true"></i> Pubblicato risultati originali su riviste scientifiche internazionali. </li>
            </ul>
            <i class="fa fa-2x fa-book text-primary sr-icons"> <h3 style="display:inline-block;">Publications</h3></i>
            <ol tyoe="1">
                <li style="font-size:15px; line-height:175%;">Scotti T., Mimura M., Wakano J.Y.: <a href="http://www.sciencedirect.com/science/article/pii/S1476945X14000877" target="_blank">Avoiding toxic prey may promote harmful algal blooms"</a>, Ecological Complexity, Vol. 21, pp. 157-165, 2015. </li>
                <li style="font-size:15px; line-height:175%;">Ikeda H., Scotti T., Mimura M.: <a href="https://aimsciences.org/journals/displayArticlesnew.jsp?paperID=13387" target="_blank">Shadow system approach to a plankton model generating harmful algal bloom</a>, Discrete & Continuous Dynamical Systems Vol. 37 No. 2.</li>
            </ol>
          </div>
          <div class="resume-item">
            <h4>Laurea Triennale &amp; Specialistica in Matematica</h4>
            <h5>2003-2009</h5>
            <p><em>Sapienza Università di Roma</em></p>
              <ol tyoe="1">
                <li style="font-size:15px; line-height:175%;">Laurea triennale in matematica con tesi: <em>La caratteristica di Eulero-Poincaré e il teorema di Gauss-Bonnet </em>, Febbraio 2007.</li>
                <li style="font-size:15px; line-height:175%;">Laurea specialistica in matematica con tesi: <em>Equazioni di reazione-diffusione e applicazioni all'ecologia matematica</em>, Dicembre 2009.</li>
            </ol>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Esperienza Lavorativa</h3>
          <div class="resume-item">
            <h4>Senior Data Analyst</h4>
            <h5>Aprile 2022 - Presente</h5>
            <p><em><a href="https://www.criteo.com/" target="_blank">Criteo</a>, Tokyo, Japan </em></p>
          </div>
          <div class="resume-item">
            <h4>Data Analyst</h4>
            <h5>Febbraio 2020 - Marzo 2022</h5>
            <p><em><a href="https://www.criteo.com/" target="_blank">Criteo</a>, Tokyo, Giappone </em></p>
            <p>
            <ul>
              <li>Supporto al team commerciale tramite analisi statistiche ed elaborazioni di dati.</li>
              <li>Sviluppo di richieste SQL per estrarre dati da cluster Vertica e Hadoop (Hive/Presto).</li>
              <li>Sviluppo di script in Python per generare rapporti o dare suggerimenti tramite la visualizzazione di dati grezzi.</li>
              <li>Monitoraggio del ciclo di vita di test AB, troubleshooting, e consulenze generiche.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Data Scientist</h4>
            <h5>Dicembre 2017 - Ottobre 2019</h5>
            <p><em><a href="https://www.liquid.com/" target="_blank">Quoine</a>, Tokyo, Giappone</em></p>
            <p>
            <ul>
              <li>Sviluppato da zero un'applicazione web che agisse da semplice interfaccia per far girare script, generare rapporti, e visualizzare dati. Questo strumento divenne popolare in tutta l'azienda.</li>
              <li>Sviluppato un algoritmo per intercettare arbitraggi triangolari e segnalare utenti che sfruttavano tali opportunità, vietate dal regolamento generale.</li>
              <li>Essendo uno dei primi 30 impiegati nell'ufficio di Tokyo ho dovuto fare molte cose diverse. Automatizzazione, analisi di dati, sviluppo back-end , e assunzioni. In particolare, aiutai ad assumere circa il 40% dell'attuale team.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Developer</h4>
            <h5>Ottobre 2015 - Novembre 2017</h5>
            <p><em><a href="https://www.sbibits.com/" target="_blank">SBI BITS</a>, Tokyo, Giappone</em></p>
            <p>
            <ul>
              <li>Effettuato analisi statistiche di dati su strumenti finanziari per migliorare il trading proprietario dell'azienda.</li>
              <li>Contribuito a sviluppare un'applicazione web usando il framwork Java Spring MVC</li>
              <li>In carica del testing di applicazioni web, e di scrivere casistiche e scenari.</li>
              <li>Alcuni bug che ho trovato erano talmente intricati che i miei colleghi li hanno rinominati “Italian tricks”.</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

#}

  <!-- ======= Writing Section ======= -->
  <section id="writing" class="services">

    <div class="container">

      <div class="section-title">
        <h2>{{ t.writing_title }}</h2>
        <p>{{ t.writing_subtitle }}</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
          <a style="display:block" href="{{ t.book1_url }}" target="_blank">

          <div class="icon-box">
              <img src="../static/img/ombrello.jpg" class="img-fluid" alt="ombrello">
            <p>{{ t.book1_desc }}</p>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
          <a style="display:block" href="{{ t.book2_url }}" target="_blank">
            <div class="icon-box">
                <img src="../static/img/mihara.jpeg" class="img-fluid" alt="mihara">
              <p>{{ t.book2_desc }}</p>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
          <a style="display:block" href="{{ t.book3_url}}" target="_blank">
            <div class="icon-box">
                <img src="../static/img/devils.jpg" class="img-fluid" alt="mihara">
              <p>{{ t.book3_desc }}</p>
            </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
          <a style="display:block" href="{{ t.book4_url}}" target="_blank">
            <div class="icon-box">
                <img src="../static/img/nakamura.jpg" class="img-fluid" alt="mihara">
              <p>{{ t.book4_desc }}</p>
            </div>
          </a>
        </div>

      </div>

    </div>

  </section><!-- End Writing Section -->

  {# comment out photography for now

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>Le mie Foto</p>
      </div>
      <p> <a href="https://www.instagram.com/hokuthom/" target="_blank" class="instagram">Guarda il mio Instagram <i class="icofont-instagram"></i></a></p>

      ...
  #}

  <!-- ======= Cultural Activities Section ======= -->
<section id="cultural" class="services">

  <div class="container">

    <div class="section-title">
      <h2>{{ t.cultural_title }}</h2>
      <p>{{ t.cultural_subtitle }}</p>
    </div>

    <div class="row">

      <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="icofont-book"></i></div>
          <h4>{{ t.cultural_box1_title }}</h4>
          <p>{{ t.cultural_box1_text }}</p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="icofont-pen-alt-4"></i></div>
          <h4>{{ t.cultural_box2_title }}</h4>
          <p>{{ t.cultural_box2_text }}</p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="icofont-brush"></i></div>
          <h4>{{ t.cultural_box3_title }}</h4>
          <p>{{ t.cultural_box3_text }}</p>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="icofont-world"></i></div>
          <h4>{{ t.cultural_box4_title }}</h4>
          <p>{{ t.cultural_box4_text }}</p>
        </div>
      </div>

    </div>

  </div>

</section>
<!-- End Cultural Activities Section -->


 <!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>{{ t.contact_title }}</h2>
      <p>{{ t.contact_subtitle }}</p>
    </div>

    <div class="row mt-2">

      <div class="col-md-6 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-map"></i>
          <h3>{{ t.contact_address_title }}</h3>
          <p>Shinjuku, Tokyo</p>
        </div>
      </div>

      <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-share-alt"></i>
          <h3>{{ t.contact_social_title }}</h3>
          <div class="social-links">
            <a href="https://twitter.com/hokuthom" target="_blank" class="twitter"><i class="icofont-twitter"></i></a>
            <a href="https://www.facebook.com/hokuthom" target="_blank" class="facebook"><i class="icofont-facebook"></i></a>
            <a href="https://www.instagram.com/hokuthom/" target="_blank" class="instagram"><i class="icofont-instagram"></i></a>
            <a href="https://www.linkedin.com/in/tommasoscotti/" target="_blank" class="linkedin"><i class="icofont-linkedin"></i></a>
          </div>
        </div>
      </div>

    </div>

    <form action="/contact" id="contact-form" name="contact-form" method="POST" role="form" class="php-email-form mt-4">

      <div class="form-row">
        <div class="col-md-6 form-group">
          <input type="text" name="name" id="name" class="form-control" placeholder="{{ t.form_name_placeholder }}" data-rule="minlen:4" data-msg="{{ t.form_msg_minlen4 }}" />
          <div class="validate"></div>
        </div>
        <div class="col-md-6 form-group">
          <input type="email" class="form-control" name="email" id="email" placeholder="{{ t.form_email_placeholder }}" data-rule="email" data-msg="{{ t.form_msg_valid_email }}" />
          <div class="validate"></div>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="subject" id="subject" placeholder="{{ t.form_subject_placeholder }}" data-rule="minlen:4" data-msg="{{ t.form_msg_subject_minlen4 }}" />
        <div class="validate"></div>
      </div>

      <div class="form-group">
        <textarea class="form-control" name="message" id="message" rows="5" data-rule="required" data-msg="{{ t.form_msg_write_something }}" placeholder="{{ t.form_message_placeholder }}"></textarea>
        <div class="validate"></div>
      </div>

      <!-- Language hint for backend -->
      <input type="hidden" name="lang" id="lang" value="{{ lang }}"/>

      <!-- Existing hidden field (kept as-is, but made robust with quotes) -->
      <div hidden="true">
        <input type="text" id="url_from" name="url_from" value="{{ request.url }}"/>
      </div>

      <!-- Anti-spam: honeypot (bots often fill; humans won't see) -->
      <div style="position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;">
        <label for="company">Company</label>
        <input type="text" name="company" id="company" autocomplete="off" tabindex="-1">
      </div>

      <!-- Anti-spam: time trap -->
      <input type="hidden" name="ts" id="ts" value="">
      <script>
        (function () {
          var el = document.getElementById("ts");
          if (el) el.value = Date.now().toString();
        })();
      </script>

      <div class="text-center">
        <button type="submit" id="contact-form-button">{{ t.form_submit }}</button>
      </div>

      <div id="loading" hidden="true">
        {{ t.form_sending }}
      </div>

    </form>

  </div>
</section><!-- End Contact Section -->

  <div class="credits">
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/vendor/counterup/counterup.min.js"></script>
  <script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>
  <!-- jQuery validation is not included in the script above, so needs to be explicitly included -->
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

  <script>

  $(document).ready(function () {

    $("#contact-form").validate({
      rules: {
        name: {required:true, minlength:4},
        email: {required:true, email:true},
        subject: {required:true, minlength:4},
        message: {required:true}
      }
    });

  });

  $('#contact-form').submit(function(e) {

    e.preventDefault();
    // todo: without this sends email twice. But before it wasn't. Investigate
    e.stopImmediatePropagation();

    if ($('#contact-form').valid()) {

      $.ajax({
            type: 'post',
            url: '/contact',
            data: $('#contact-form').serialize(),
            beforeSend: function() {$("#loading").removeAttr('hidden');},
            complete: function() {$("#loading").css('visibility', 'hidden');},
            success: function (response) {
              alert(response);
            }
          });
      }

    });

  </script>


  <script>

    // Quick fix to close the menu on click/tap on mobile etc
    $(document).on('click',function(){
        $('.collapse').collapse('hide');
    })

    // Need to stop propagation on the section or even clicking outside the text collapse is triggered
    // But the text in the link readMore does not change
    $("#about").click(function(e) { e.stopPropagation(); });

    // Toggles expand/collapse in bio section
    function changeText() {
        var element = document.getElementById('readMore');
        //aria-expanded is the attribute that keeps track whether a section is expanded or not
        var isExpanded = $('#collapsedText').attr("aria-expanded");
        if (element.innerHTML === '{{ t.read_more }}' && isExpanded==="false") {
            $('#collapsedText').collapse('show');
            element.innerHTML = '{{ t.read_less }}';

        }
        else {
            $('#collapsedText').collapse('hide');
            element.innerHTML = '{{ t.read_more }}';
        }

      }

  </script>

    <!-- Conference Modal Dialog -->
    <div id="conferenceModal" class="modal" style="color:black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">{{ t.conference_title }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>{{ t.conf_1_title }}</i>, {{ t.conf_1_place }}, {{ t.conf_1_date }}</li>
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>{{ t.conf_2_title }}</i>, {{ t.conf_2_place }}, {{ t.conf_2_date }}</li>
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>{{ t.conf_3_title }}</i>, {{ t.conf_3_place }}, {{ t.conf_3_date }}</li>
                        <li><i class="fa fa-li fa-trophy" aria-hidden="true"></i><i>{{ t.conf_4_title }}</i>, {{ t.conf_4_place }}, {{ t.conf_4_date }}</li>
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>{{ t.conf_5_title }}</i>, {{ t.conf_5_place }}, {{ t.conf_5_date }}</li>
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>{{ t.conf_6_title }}</i>, {{ t.conf_6_place }}, {{ t.conf_6_date }}</li>
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>{{ t.conf_7_title }}</i>, {{ t.conf_7_place }}, {{ t.conf_7_date }}</li>
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>{{ t.conf_8_title }}</i>, {{ t.conf_8_place }}, {{ t.conf_8_date }}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default text-center" data-dismiss="modal">{{ t.close }}</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>