<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tommaso Scotti</title>
  <meta content="Writer, Developer, and a bunch of other things" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <!-- necessary script to execute jQuery code -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>


  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Personal - v2.4.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-tops">
    <div class="container">
      <h1><a href="index.html">Tommaso Scotti</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
       <!--<a href="index.html" class="mr-auto"><img src="../static/img/logo.png" alt="" class="img-fluid"></a>-->
      <h2>斗 Scrittore 武</h2>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Home</a></li>
          <li><a href="#about">Chi sono</a></li>
          <li><a href="#resume">CV</a></li>
          <li><a href="#writing">Scrittura</a></li>
          <li><a href="#portfolio">Fotografia</a></li>
          <li><a href="#contact">Contatti</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="social-links">
        <a href="https://twitter.com/hokuthom" target="_blank" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="https://www.facebook.com/hokuthom" target="_blank" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/hokuthom/" target="_blank" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="https://www.linkedin.com/in/tommasoscotti/" target="_blank" class="linkedin"><i class="icofont-linkedin"></i></a>
        <a href="{{ url_for('index_en') }}" style="background-image:url('../static/img/en.png');background-size: contain;background-repeat: no-repeat; background-position: center center;"></a>
      </div>


    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>Informazioni</h2>
        <p>In due parole... </p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="../static/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Scrittore, Programmatore, e una serie di altre cose</h3>
          <p class="font-italic">
            Una cosa non è mai cambiata nella mia vita: il cambiamento.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Data di nascita:</strong> 12 Marzo 1984</li>
                <li><i class="icofont-rounded-right"></i> <strong>Sito web:</strong> www.tommasoscotti.com</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Età:</strong> {{ year - 1984 }}</li>
                <li><i class="icofont-rounded-right"></i> <strong>Educazione:</strong> Dottorato (matematica)</li>
              </ul>
            </div>
          </div>

          LA STORIA BREVE
          </br> </br>
          <p style="text-align: justify;">
            Sono nato a Roma ma vivo e lavoro in Giappone dal 2012. Ho conseguito un dottorato in matematica applicata a Tokyo nel 2015,
            a seguito del quale ho iniziato a lavorare nell'ambiente delle tecnologie finanziarie e pubblicitarie. Mi piace anche scrivere,
            e nel 2021 ho pubblicato il mio primo romanzo <em>L'Ombrello dell'Imperatore</em>.
            Suono il pianoforte fin da bambino, e pratico arti marziali dalla fine degli anni 90. Nel tempo libero mi dedico alla calligrafia,
            giro in moto, scrivo, leggo, programmo, faccio foto, e probabilmente ho dimenticato qualcosa.

          </p>

          <p id="collapsedText" class="collapse text-faded" style="text-align: justify;" aria-expanded="false" onclick="changeText()">

            Nato e cresciuto a Roma ho passato i primi 20 anni della mia vita nella città eterna, intrappolato tra una passione per musica e sport e il fiato sul collo
            di mia madre affinché mantenessi una buona media scolastica. Nell'estate del 2007, visitando un amico che era andato in Spagna in Erasmus, ho imparato che
            la parola "studio" in "studio all'estero" ha una definizione molto blanda. E siccome all'epoca ero quasi alla fine di una laurea specialistica in matematica, beh, ho
            deciso che volevo "studiare" all'estero anche io.</br>
            Come la maggior parte dei paesi europei, però, sentivo che la Spagna non si addiceva al mio carattere. Volevo qualcosa di diverso. Quando ho scoperto che
            tra le opzioni c'era la Finlandia non ci ho pensato un secondo: cosa può essere più diverso che passare un semestre a 200 km dal Circolo Polare Artico, con il clima che va
            da -20°C e 24 ore di buio a +20°C e 24 ore di luce? Forse la stazione spaziale internazionale, ma non era sulla lista.
            Così nel gennaio del 2008 feci le valige e andai a studiare per sei mesi all'Università di Oulu, in quella che si rivelò un'esperienza fantastica. Infatti, non imparai solo
            analisi funzionale e teoria della probabilità avanzata. Imparai anche che cosa significa essere indipendenti, stare da soli, e che studiare nuove lingue ripaga sempre quando, per esempio,
            il pullman su cui ti trovi si schianta contro una macchina nel mezzo della tundra del nord e tutti quelli che hai intorno parlano solo finlandese.
            Tuttavia, la Finlandia fu solo un primo passo.

            </br></br>

            Nel 2009 presi la laurea specialistica e, incerto su cosa fare dopo, decisi di predermi una pausa e seguire la mia passione per le arti marziali.
            Dunque, con più di dieci anni di pratica e una conoscenza basilare del cinese in valigia, mi trasferii a Pechino come se stessi andando a fare un'escursione
            nel boschetto di villa Pamphili. Si rivelò un pelo più complicato. Lo shock culturale fu tremendo, e nei primi giorni più di una volta mi ritrovai sul punto
            di abbandonare e tornarmene a casa. Ma non lo feci.
            Ci vollero un sacco di sforzi e fatica, ma superato lo scoglio iniziale la Cina si rivelò un'avventura unica che spaziò dal suonare il pianoforte nella residenza
            dell'ambasciatore, a partecipare a una cerimonia buddhista privata nella casa di Chengdu di un vecchio Lama tibetano, a tante altre storie più o meno surreali.

            </br></br>

            La vera svolta, tuttavia, ci fu quando, durante il soggiorno in Cina, mi recai in Giappone per un breve viaggio. Fu amore a prima vista. Dopo pochi giorni
            di tursimo sapevo che volevo restare più a lungo. Così lasciai Pechino un po' prima del tempo stabilito, e mi trasferii direttamente a Tokyo per tentare la fortuna
            sperando di trovare un lavoro. Era l'autunno del 2010, non avevo esperienza professionale, e non parlavo giapponese. Dire che era un terno al lotto è dire poco.
            Passarono 3 mesi, mi scadette il visto, e tutto ciò che mi rimase da fare fu riporre le mie speranze in una vecchia valigia scassata e tornarmene a Roma.
            Essendo testardo come un mulo, però, l'idea di riunciare non mi passò nemmeno per la testa. Decisi così di provare per vie accademiche, e praticamente passai l'intero
            2011 a compilare moduli e fare domande, fino a che non ottenni non una ma due borse di studio e fui accettato sia all'università di Waseda che alla Meiji.
            Optai per la seconda, e mi trasferii definitivamente a Tokyo nel 2012. Non me ne sono più andato.

           </br></br>

            Arrivando pian piano al presente, non senza sudore, conseguii un dottorato in matematica applicata nel 2015 facendo ricerca nel campo delle equazioni di
            reazione-diffusione. Poco dopo trovai lavoro in un'azienda nel ramo delle tecnologie finanziarie e passai lento ma inesorabile sempre di più dalla matematica alla
            programmazione (ahimé?). </br>
            Da lì la mia carriera prese il via, e nel 2017 entrai in una startup che si occupava di trading di criptovalute...
            Ok, che posso farci? All'epoca sembrava una buona idea. E lo è anche stata. Almeno in parte. Poi tutto andò a rotoli, ma mi rimase comunque una bella esperienza.
            Comunque, dopo le criptovalute mi sono allontanato dalla finanza e ho inziato a lavorare nell'ambito delle tecnologie pubblicitarie. Quindi sì, quando vedete
            quelle pubblicità su internet che come per magia sono spaventosamente vicine proprio a qualcosa a cui stavate pensando, io sono una delle persone responsabili.
            O meglio, non proprio io direttamente ma insomma lavoro con quella roba lì. </br>
            Per concludere, come se le giornate avessero 40 ore, più o meno nel periodo in cui entrai nella startup ebbi anche la brillante idea di scrivere un romanzo. Del resto immagino che se avete
            letto fino a qui, il dubbio che mi piaccia scrivere un po' vi sia venuto. Scrivere un libro si è rivelato uno sforzo molto più grande di quanto immaginassi. Ci sono volute davvero una enorme
            pazienza e perseveranza per portarlo a termine. Ma ora che è stato pubblicato posso dire che la soddisfazione ripaga di gran lunga tutta la fatica.
            </br>
            Si sta facendo tardi, e sono stato tutto il giorno a sviluppare questo sito. Penso che farò una pausa, e probabilmente la pianterò di seviziare questi poveri tasti. Per loro e vostra fortuna.

          </p>
        <p><a id="readMore" aria-expanded="false" style="color:#FFFFFF; cursor:pointer;" onclick="changeText()">THE LONG STORY...</a></p>
        </div>
      </div>

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="icofont-hat"></i>
            <span data-toggle="counter-up">3</span>
            <p>Lauree (ma tutte uguali)</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="icofont-paper"></i>
            <span data-toggle="counter-up">2</span>
            <p>Articoli Pubblicati</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-world"></i>
            <span data-toggle="counter-up">4</span>
            <p>Paesi che ho chiamato casa</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-book"></i>
            <span data-toggle="counter-up">1</span>
            <p>Libro scritto</p>
          </div>
        </div>

      </div>

    </div><!-- End Counts -->

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">Python <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">HMTL/CSS <i class="val">70%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">JavaScript <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">SQL <i class="val">60%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill"> Scrittura creativa <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Carbonara <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->

    <!-- ======= Interests ======= -->
    <div class="interests container">

      <div class="section-title">
        <h2>Interessi</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-folder-music-line" style="color: #ffbb2c;"></i>
            <h3>Pianoforte </h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-quill-pen-line" style="color: #5578ff;"></i>
            <h3>Calligrafia</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-ball-pen-line" style="color: #e80368;"></i>
            <h3>Scrivere</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-boxing-fill" style="color: #e361ff;"></i>
            <h3>Palestra</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-camera-3-line" style="color: #47aeff;"></i>
            <h3>Fotografia</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-riding-line" style="color: #ffa76e;"></i>
            <h3>Motocicletta</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-book-line" style="color: #11dbcf;"></i>
            <h3>Leggere</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-earth-line" style="color: #4233ff;"></i>
            <h3>Viaggiare</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-film-line" style="color: #b2904f;"></i>
            <h3>Film</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-bear-smile-line" style="color: #b20969;"></i>
            <h3>Orsi</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-translate-2" style="color: #ff5828;"></i>
            <h3>Lingue straniere</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-terminal-box-line" style="color: #29cc61;"></i>
            <h3>Computer</h3>
          </div>
        </div>
      </div>

    </div><!-- End Interests -->

    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

      <div class="section-title">
        <h2>Testimonials</h2>
      </div>

      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Questo ragazzo vorrebbe essere come me. Beh, è impossibile ovviamente, ma lo sforzo è ammirevole.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonials/bruced.jpg" class="testimonial-img" alt="bruce_d">
          <h3>Bruce D</h3>
          <h4>Cantante, Pilota, Spadaccino, Birraio, Scrittore</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            È fantastico che qualsiasi cosa faccia c'è sempre tanta buona musica di contorno.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonials/bruces.jpg" class="testimonial-img" alt="bruce_s">
          <h3>Bruce S</h3>
          <h4>Boss</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
           Dovrebbe fare più pratica, ma in fondo non tutti hanno 40 ore al giorno. Continua così.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonials/gg.jpeg" class="testimonial-img" alt="gg">
          <h3>Glenn G</h3>
          <h4>Pianista</h4>
        </div>

        <div class="testimonial-item">
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Tommy ha una visione. Purtroppo però, non sarà mai come me. Ma nessuno può esserlo in fondo.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
          <img src="../static/img/testimonials/arnold.jpg" class="testimonial-img" alt="arnold">
          <h3>Arnold S</h3>
          <h4>Star</h4>
        </div>

      </div>

    </div><!-- End Testimonials  -->

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Curriculum</h2>
        <p>Come pago le bollette</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Profilo</h3>
          <div class="resume-item pb-0">
            <h4>Tommaso Scotti</h4>
            <p><em>
              Dottorato in matematica con 5 anni di esperienza come programmatore e analista nell'ambito finanziario e pubblicitario.
              Nel 2021 ho anche pubblicato un romanzo con <a href="https://www.longanesi.it/" target="_blank">Longanesi</a>. Parlo italiano,
              inglese e giapponese. E un po' di cinese.
            </em></p>

          </div>

          <h3 class="resume-title">Educazione</h3>
          <div class="resume-item">
            <h4>Dottorato in Matematica Applicata</h4>
            <h5>2012-2015</h5>
            <p><em>Meiji University, Tokyo Giappone</em></p>
            <ul class="fa-ul" style="display: inline-block; text-align:left;">
              <li style="font-size:15px; line-height:175%;"><i class="fa fa-li fa-graduation-cap sr-icons" aria-hidden="true"></i> Approfondito lo studio di metodi numerici e analitici per equazioni differenziali. In particolare mi sono concentrato sulle <a href="https://it.wikipedia.org/wiki/Reazione-diffusione" target="_blank">equazioni di reazione-diffusione</a> e sul pattern formation.</li>
              <li style="font-size:15px; line-height:175%;"><i class="fa fa-li fa-graduation-cap sr-icons" aria-hidden="true"></i> Invitato a parlare a numerose conferenze in Giappone e all'estero <a href="#" data-toggle="modal" data-target="#conferenceModal"> (lista)</a>.
              <li style="font-size:15px; line-height:175%;"><i class="fa fa-li fa-graduation-cap sr-icons" aria-hidden="true"></i> Pubblicato risultati originali su riviste scientifiche internazionali. </li>
            </ul>
            <i class="fa fa-2x fa-book text-primary sr-icons"> <h3 style="display:inline-block;">Publications</h3></i>
            <ol tyoe="1">
                <li style="font-size:15px; line-height:175%;">Scotti T., Mimura M., Wakano J.Y.: <a href="http://www.sciencedirect.com/science/article/pii/S1476945X14000877" target="_blank">Avoiding toxic prey may promote harmful algal blooms"</a>, Ecological Complexity, Vol. 21, pp. 157-165, 2015. </li>
                <li style="font-size:15px; line-height:175%;">Ikeda H., Scotti T., Mimura M.: <a href="https://aimsciences.org/journals/displayArticlesnew.jsp?paperID=13387" target="_blank">Shadow system approach to a plankton model generating harmful algal bloom</a>, Discrete & Continuous Dynamical Systems Vol. 37 No. 2.</li>
            </ol>
          </div>
          <div class="resume-item">
            <h4>Laurea Triennale &amp; Specialistica in Matematica</h4>
            <h5>2003-2009</h5>
            <p><em>Sapienza Università di Roma</em></p>
              <ol tyoe="1">
                <li style="font-size:15px; line-height:175%;">Laurea triennale in matematica con tesi: <em>La caratteristica di Eulero-Poincaré e il teorema di Gauss-Bonnet </em>, Febbraio 2007.</li>
                <li style="font-size:15px; line-height:175%;">Laurea specialistica in matematica con tesi: <em>Equazioni di reazione-diffusione e applicazioni all'ecologia matematica</em>, Dicembre 2009.</li>
            </ol>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Esperienza Lavorativa</h3>
          <div class="resume-item">
            <h4>Data Analyst</h4>
            <h5>Febbraio 2020 - Presente</h5>
            <p><em><a href="https://www.criteo.com/" target="_blank">Criteo</a>, Tokyo, Giappone </em></p>
            <p>
            <ul>
              <li>Supporto al team commerciale tramite analisi statistiche ed elaborazioni di dati.</li>
              <li>Sviluppo di richieste SQL per estrarre dati da cluster Vertica e Hadoop (Hive/Presto).</li>
              <li>Sviluppo di script in Python per generare rapporti o dare suggerimenti tramite la visualizzazione di dati grezzi.</li>
              <li>Monitoraggio del ciclo di vita di test AB, troubleshooting, e consulenze generiche.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Data Scientist</h4>
            <h5>Dicembre 2017 - Ottobre 2019</h5>
            <p><em><a href="https://www.liquid.com/" target="_blank">Quoine</a>, Tokyo, Giappone</em></p>
            <p>
            <ul>
              <li>Sviluppato da zero un'applicazione web che agisse da semplice interfaccia per far girare script, generare rapporti, e visualizzare dati. Questo strumento divenne popolare in tutta l'azienda.</li>
              <li>Sviluppato un algoritmo per intercettare arbitraggi triangolari e segnalare utenti che sfruttavano tali opportunità, vietate dal regolamento generale.</li>
              <li>Essendo uno dei primi 30 impiegati nell'ufficio di Tokyo ho dovuto fare molte cose diverse. Automatizzazione, analisi di dati, sviluppo back-end , e assunzioni. In particolare, aiutai ad assumere circa il 40% dell'attuale team.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Developer</h4>
            <h5>Ottobre 2015 - Novembre 2017</h5>
            <p><em><a href="https://www.sbibits.com/" target="_blank">SBI BITS</a>, Tokyo, Giappone</em></p>
            <p>
            <ul>
              <li>Effettuato analisi statistiche di dati su strumenti finanziari per migliorare il trading proprietario dell'azienda.</li>
              <li>Contribuito a sviluppare un'applicazione web usando il framwork Java Spring MVC</li>
              <li>In carica del testing di applicazioni web, e di scrivere casistiche e scenari.</li>
              <li>Alcuni bug che ho trovato erano talmente intricati che i miei colleghi li hanno rinominati “Italian tricks”.</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

  <!-- ======= Writing Section ======= -->
  <section id="writing" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Scrittura</h2>
        <p>I miei libri</p>
      </div>

      <div class="row">

        <a style="display:block" href="https://www.longanesi.it/libri/tommaso-scotti-lombrello-dellimperatore-9788830456464/" target="_blank">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
              <img src="../static/img/ombrello.jpg" class="img-fluid" alt="ombrello">
            <p>Una crime fiction all'esterno, un ritratto del Giappone moderno all'interno.</p>
          </div>
        </div>
        </a>

      </div>

    </div>
  </section><!-- End Writing Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>Le mie Foto</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-nature">Nature</li>
            <li data-filter=".filter-urban">Urban</li>
            <li data-filter=".filter-people">People</li>
            <li data-filter=".filter-bw">B&W</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        <div class="col-lg-12 col-md-6 portfolio-item filter-nature">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/nature/fuji.jpg" class="img-fluid" alt="fuji">
            <div class="portfolio-info">
              <h4>Fujiyama</h4>
              <p>Japan</p>
              <div class="portfolio-links">
                <a href="../static/img/portfolio/nature/fuji.jpg" data-gall="portfolioGallery" class="venobox" title="Fujiyama"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-nature">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/nature/primavera2.jpg" class="img-fluid" alt="primavera">
            <div class="portfolio-info">
              <h4>Spring</h4>
              <p>Tokyo, Japan</p>
              <div class="portfolio-links">
                <a href="../static/img/portfolio/nature/primavera2.jpg" data-gall="portfolioGallery" class="venobox" title="Spring"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-people">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/urban/sleepers2.jpg" class="img-fluid" alt="sleepers2">
            <div class="portfolio-info">
              <h4>Dream Train</h4>
              <p>Tokyo, Japan</p>
              <div class="portfolio-links">
                <a href="../static/img/portfolio/urban/sleepers2.jpg" data-gall="portfolioGallery" class="venobox" title="Dream Train"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-urban">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/urban/roppongi.jpg" class="img-fluid" alt="roppongi">
            <div class="portfolio-info">
              <h4>Mystery</h4>
              <p>Roppongi, Tokyo</p>
              <div class="portfolio-links">
                <a href="../static/img/portfolio/urban/roppongi.jpg" data-gall="portfolioGallery" class="venobox" title="Roppongi"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-urban">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio//urban/winter.jpg" class="img-fluid" alt="winter">
            <div class="portfolio-info">
              <h4>Winter</h4>
              <p>Tokyo, Japan</p>
              <div class="portfolio-links">
                <a href="../static/img/portfolio/urban/winter.jpg" data-gall="portfolioGallery" class="venobox" title="Winter"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-nature">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/nature/estate.jpg" class="img-fluid" alt="estate">
            <div class="portfolio-info">
              <h4>Summer</h4>
              <p>Kanagawa, Japan</p>
              <div class="portfolio-links">
                <a href="../static/img/portfolio/nature/estate.jpg" data-gall="portfolioGallery" class="venobox" title="Summer"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-nature">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/nature/mare.jpg" class="img-fluid" alt="mare">
            <div class="portfolio-info">
              <h4>The Blue</h4>
              <p>Kanagawa, Japan</p>
              <div class="portfolio-links">
                <a href="../static/img/portfolio/nature/mare.jpg" data-gall="portfolioGallery" class="venobox" title="The blue"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-nature">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/nature/autunno2.jpg" class="img-fluid" alt="autumn">
            <div class="portfolio-info">
              <h4>Autumn</h4>
              <p>Hakone, Japan</p>
              <div class="portfolio-links">
                <a href="../static/img/portfolio/nature/autunno2.jpg" data-gall="portfolioGallery" class="venobox" title="Autumn"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-bw">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio//urban/bow.jpg" class="img-fluid" alt="bow">
            <div class="portfolio-info">
              <h4>Take a bow</h4>
              <p>Kyoto, Japan</p>
              <div class="portfolio-links">
                <a href="../static/img/portfolio//urban/bow.jpg" data-gall="portfolioGallery" class="venobox" title="Take a Bow"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-urban">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/urban/rain.jpg" class="img-fluid" alt="rain">
            <div class="portfolio-info">
              <h4>A date in the rain</h4>
              <p>Shinjuku, Tokyo</p>
              <div class="portfolio-links">
                <a href="../static/img/portfolio/urban/rain.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-urban">
          <div class="portfolio-wrap">
            <img src="../static/img/portfolio/urban/dots_lines.jpg" class="img-fluid" alt="lines">
            <div class="portfolio-info">
              <h4>Dots & Lines</h4>
              <p>Roppongi, Tokyo</p>
              <div class="portfolio-links">
                <a href="../static/img/portfolio/urban/dots_lines.jpg" data-gall="portfolioGallery" class="venobox" title="Dots & Lines"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-urban">
        <div class="portfolio-wrap">
          <img src="../static/img/portfolio/urban/commuting.jpg" class="img-fluid" alt="commuting">
          <div class="portfolio-info">
            <h4>Happiness?</h4>
            <p>Tokyo, Japan</p>
            <div class="portfolio-links">
              <a href="../static/img/portfolio/urban/commuting.jpg" data-gall="portfolioGallery" class="venobox" title="Commuting"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-urban">
        <div class="portfolio-wrap">
          <img src="../static/img/portfolio/urban/reflections.jpg" class="img-fluid" alt="reflections">
          <div class="portfolio-info">
            <h4>Reflections</h4>
            <p>Tokyo, Japan</p>
            <div class="portfolio-links">
              <a href="../static/img/portfolio/urban/reflections.jpg" data-gall="portfolioGallery" class="venobox" title="Reflections"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-urban">
        <div class="portfolio-wrap">
          <img src="../static/img/portfolio/urban/windows.jpg" class="img-fluid" alt="windows">
          <div class="portfolio-info">
            <h4>Windows</h4>
            <p>Fujisawa, Japan</p>
            <div class="portfolio-links">
              <a href="../static/img/portfolio/urban/windows.jpg" data-gall="portfolioGallery" class="venobox" title="Windows"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-urban">
        <div class="portfolio-wrap">
          <img src="../static/img/portfolio/urban/heartcity2.jpg" class="img-fluid" alt="heartcity">
          <div class="portfolio-info">
            <h4>The heart of town</h4>
            <p>Tokyo, Japan</p>
            <div class="portfolio-links">
              <a href="../static/img/portfolio/urban/heartcity2.jpg" data-gall="portfolioGallery" class="venobox" title="The heart of town"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-bw">
        <div class="portfolio-wrap">
          <img src="../static/img/portfolio/urban/snowfight.jpg" class="img-fluid" alt="snowfight">
          <div class="portfolio-info">
            <h4>Snow fight</h4>
            <p>Tokyo, Japan</p>
            <div class="portfolio-links">
              <a href="../static/img/portfolio/urban/snowfight.jpg" data-gall="portfolioGallery" class="venobox" title="Snow fight"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contatti</h2>
        <p>Contattami</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>Il mio indirizzo</h3>
            <p>Da qualche parte nella prefettura di Kanagawa, Giappone</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Profili Social</h3>
            <div class="social-links">
              <a href="https://twitter.com/hokuthom" target="_blank" class="twitter"><i class="icofont-twitter"></i></a>
              <a href="https://www.facebook.com/hokuthom" target="_blank" class="facebook"><i class="icofont-facebook"></i></a>
              <a href="https://www.instagram.com/hokuthom/" target="_blank" class="instagram"><i class="icofont-instagram"></i></a>
              <a href="https://www.linkedin.com/in/tommasoscotti/" target="_blank" class="linkedin"><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>

      <form action="/contact" id="contact-form" name="contact-form" method="POST" role="form" class="php-email-form mt-4">

        <div class="form-row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" id="name" class="form-control"  placeholder="Il tuo nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validate"></div>
          </div>
          <div class="col-md-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="La tua email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Oggetto" data-rule="minlen:4" data-msg="Please enter a subject of at least 4 characters " />
          <div class="validate"></div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" id="message" rows="5" data-rule="required" data-msg="Please write something" placeholder="Scrivi qualcosa qui"></textarea>
          <div class="validate"></div>
        </div>
        <div hidden="true"> <input type="text" id="url_from" name="url_from" value= {{request.url}}/></div>
        <div class="text-center"><button type="submit" id="contact-form-button">Invia Messaggio</button></div>
        <div id="loading" hidden="true">
                Sto inviando il messaggio...
        </div>
      </form>

    </div>
  </section><!-- End Contact Section -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/vendor/counterup/counterup.min.js"></script>
  <script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/venobox/venobox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>
  <!-- jQuery validation is not included in the script above, so needs to be explicitly included -->
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>



  <script>

  $(document).ready(function () {

    $("#contact-form").validate({
      rules: {
        name: {required:true, minlength:4},
        email: {required:true, email:true},
        subject: {required:true, minlength:4},
        message: {required:true}
      }
    });

  });

  $('#contact-form').submit(function(e) {

    e.preventDefault();
    // todo: without this sends email twice. But before it wasn't. Investigate
    e.stopImmediatePropagation();

    if ($('#contact-form').valid()) {

      $.ajax({
            type: 'post',
            url: '/contact',
            data: $('#contact-form').serialize(),
            beforeSend: function() {$("#loading").removeAttr('hidden');},
            complete: function() {$("#loading").css('visibility', 'hidden');},
            success: function (response) {
              alert(response);
            }
          });
      }

    });

  </script>


  <script>

    // Quick fix to close the menu on click/tap on mobile etc
    $(document).on('click',function(){
        $('.collapse').collapse('hide');
    })

    // Need to stop propagation on the section or even clicking outside the text collapse is triggered
    // But the text in the link readMore does not change
    $("#about").click(function(e) { e.stopPropagation(); });
    // Toggles expand/collapse in bio section
    function changeText() {
        var element = document.getElementById('readMore');
        //aria-expanded is the attribute that keeps track whether a section is expanded or not
        var isExpanded = $('#collapsedText').attr("aria-expanded");
        if (element.innerHTML === 'THE LONG STORY...' && isExpanded==="false") {
            $('#collapsedText').collapse('show');
            element.innerHTML = 'READ LESS...';

        }
        else {
            $('#collapsedText').collapse('hide');
            element.innerHTML = 'THE LONG STORY...';
        }

      }

  </script>

    <!-- Conference Modal Dialog -->
    <div id="conferenceModal" class="modal" style="color:black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">Conference List</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>Joint seminar between young mathematicians and the industry</i>, Tokyo University, Tokyo, Japan,
                                October 2014.</li>
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>The 5th Japan-Taiwan workshop for young scholars in applied mathematics</i>, National Tsing Hua
                                University, Hsinchu, Taiwan, February 2014.</li>
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>Japanese-Hungarian Conference on applied mathematics and nonlinear dynamics</i>, Budapest University
                                of Technology and Economics, Budapest, Hungary, December 2013.</li>
                        <li><i class="fa fa-li fa-trophy" aria-hidden="true"></i><i>International conference on mathematical modeling and applications</i>, Meiji University, Tokyo, Japan,
                                November 2013.</li>
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>NIMS-KMRS PDE Conference on reaction-diffusion equations for ecology and related problems</i>, KAIST,
                                Daejeon, South Korea, October 2013.</li>
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>Models in Population Dynamics and Ecology</i>, Osnabruck, Germany,
                                August 2013.</li>
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>N2-days ReaDiLab workshop</i>, Meiji University, Tokyo, July 2013.</li>
                        <li><i class="fa fa-li fa-comment" aria-hidden="true"></i><i>MIMS Mathematical biology seminars</i>, Meiji University, Tokyo, Japan, June 2013.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default text-center" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>